**/__pycache__
**/_build
**/.vscode
**/.zfs/snapshot
**/*.!sync
**/*.bts
**/*.direnv
**/*.envrc:*
**/*.*~
**/*.swp
**/*.sync
**/*.tmp
**/deprecated
**/dist
**/result
**/result-*
**/.pytest_cache
**/.mypy_cache
**/*.egg-info
**/build
**/unfinished
/_gsdata_
/.boar
/.git
/.hg
/etc/nixos/configuration.nix
/etc/nixos/hardware-configuration.nix
temp
